<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= render "partials/nav" %>

<div style="<%= 'display:none;' if notice.nil? && alert.nil? %>" class="alert-box small-padding" >
  <span id="cerrar-ventana" class="pull-right" >X</span>
	<p class="notice"><%= notice %></p>
	<p class="alerta"><%= alert %></p>
</div>



<%= yield %>

</body>
</html>
